@font-face {
  font-family: 'CircularStd-Black';
  src: local('CircularStd-Black'), url(./fonts/CircularStd-Black.otf) format('opentype');
}

@font-face {
  font-family: 'CircularStd-BlackItalic';
  src: local('CircularStd-BlackItalic'), url(./fonts/CircularStd-BlackItalic.otf) format('opentype');
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: local('CircularStd-Bold'), url(./fonts/CircularStd-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'CircularStd-BoldItalic';
  src: local('CircularStd-BoldItalic'), url(./fonts/CircularStd-BoldItalic.otf) format('opentype');
}

@font-face {
  font-family: 'CircularStd-Book';
  src: local('CircularStd-Book'), url(./fonts/CircularStd-Book.otf) format('opentype');
}

@font-face {
  font-family: 'CircularStd-BookItalic';
  src: local('CircularStd-BookItalic'), url(./fonts/CircularStd-BookItalic.otf) format('opentype');
}

@font-face {
  font-family: 'CircularStd-Medium';
  src: local('CircularStd-Medium'), url(./fonts/CircularStd-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'CircularStd-MediumItalic';
  src: local('CircularStd-MediumItalic'), url(./fonts/CircularStd-MediumItalic.otf) format('opentype');
}



.SplashPage {
  font-family: 'CircularStd-Medium';
  text-align: center;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: .5fr .5fr;
  grid-template-rows: .1fr .9fr;
  grid-template-areas: "propsLogoDiv loginDiv"
                      "propsLogoDiv signupDiv";
}

/* App.jsx ------------------------------------------------------------------------- */

.LoginDiv {
  grid-area: loginDiv;
  /* border: 1px red solid; */
  text-align: right;
  
}

.PropsLogoDiv {
  grid-area: propsLogoDiv;
  /* border: 1px red solid; */
  background-color: rgb(228, 26, 35);
}

.SignupDiv {
  grid-area: signupDiv;
  /* border: 1px red solid; */
  
}
div.PropsAppBar {
  max-width: 100vw;
}


/* PropsLogo.jsx ------------------------------------------------------------------------- */

.PropsLogoText {
  text-align: left;
  margin: 80px 0 0 50px;
  color: rgb(34, 34, 34);
  font-size: 10em;
  font-family: 'CircularStd-Black';
}

.GaLogo {
  display: inline-block;
  margin: 5px 0 0 150px;
  width: 40%;
  height: 15%;
  /* border: 1px red solid; */
}


/* Login.jsx ------------------------------------------------------------------------- */

.LoginText {
  display: inline-block;
  padding: 10px 10px 0 10px;
  font-size: 1em;
}

.LoginForm {
  display: inline-block;
}

.LoginInput {
  margin: 0 5px 0 5px;
  padding: 0 1px 0 1px;
  border: none;
  border-bottom: 1px solid rgb(1, 121, 144);
  width: 200px;
  height: 50px;
  font-size: 1em;
  color: rgb(228, 26, 35);
}

.LoginInput:focus {
  outline: none;
}

.LoginButton {
  margin: 0 20px 0 5px;
  width: 80px;
  height: 40px;
  border-radius: 12px;
  border-color: rgb(228, 26, 35);
  background-color:  rgb(228, 26, 35);
  font-family: 'CircularStd-Bold';
  font-size: 1em;
  color: white;
}


/* Signup.jsx ------------------------------------------------------------------------- */

.SignupText {
  margin: 120px 0 0 0;
  font-size: 3em;
}

.SignupForm {
  margin: 30px 0 0 85px;
  text-align: left;
  
}

.SignupLabel {
  font-size: 1em;
}

.SignupInput {
  margin: 0 0 15px 0;
  border: none;
  border-bottom: 1px solid rgb(1, 121, 144);
  width: 550px;
  height: 50px;
  font-size: 1em;
  color: rgb(228, 26, 35);
}

.SignupInput:focus {
  outline: none;
}

.SignupButton {
  width: 100px;
  height: 50px;
  border-radius: 12px;
  border-color: rgb(228, 26, 35);
  background-color:  rgb(228, 26, 35);
  font-family: 'CircularStd-Bold';
  font-size: 1em;
  color: white;
  
}


