.App {
  text-align: center;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: .5fr .5fr;
  grid-template-rows: .1fr .9fr;
  grid-template-areas: "loginDiv loginDiv"
                      "propsLogoDiv signupDiv";
}

.LoginDiv {
  grid-area: loginDiv;
  border: 1px red solid;

}

.PropsLogoDiv {
  grid-area: propsLogoDiv;
  border: 1px red solid;
  margin: 90px;
  font-size: 5em;
  font-family: 'Fredoka One', cursive;
  color: rgb(4, 80, 41);
}

.SignupDiv {
  grid-area: signupDiv;
  border: 1px red solid;
}






.pageOneHeader {
  
}



















/* This is for the nav for dev purposes only */
.PropsAppBar > * {
  padding: .5em 1em;
  font-size: 20px;
  text-decoration: none;
}
.PropsAppBar button {
  background: none;
  box-shadow: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: .5em 1em;
  font-size: 18px;
}

