.CommunityPageDiv {
    font-family: 'CircularStd-Medium';
    min-height: 100vh;
    /* border: 1px red solid; */
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr auto;
    grid-template-areas: "communitypagenavdiv"
                         "communitypagetext"
                         "userdirectory";
                         
  }


/* CommunityPage.jsx ------------------------------------------------------------------------- */

.CommunityPageNavDiv {
    grid-area: communitypagenavdiv;
    /* border: 1px red solid; */
    background-color: black;
    height: 60px; 
}

.CommunityPageText {
    font-size: 3em;
    margin: 20px 0 10px 30px;
    /* border: 1px red solid; */
    /* vertical-align: top; */
}

.UserDirectory {
    grid-area: userdirectory;
    max-width: 100%;
    margin: 15px 0 10px 40px;
    /* border: 1px red solid; */
    vertical-align: top;
    
}


/* DirectoryEntry.jsx ------------------------------------------------------------------------- */

.DirectoryEntry {
    margin: 0 0 20px 0;
    /* border: solid 1px blue; */
}

.directoryprofilebutton, .directoryentrypicture, .name, .department, .directorypropsbutton {
    vertical-align: middle;
}

.directoryprofilebutton, .directorypropsbutton {
    width: 110px;
    height: 40px;
    border-radius: 12px;
    font-family: 'CircularStd-Bold';
    font-size: 1em;
    color: white;
}

.directoryprofilebutton {
    margin: 2px 50px 2px 30px;
    border-color: rgb(1, 121, 144);
    background-color:  rgb(1, 121, 144);
}

.directorypropsbutton {
    margin: 2px 50px 2px 0;
    border-color: rgb(228, 26, 35);
    background-color:  rgb(228, 26, 35);
}


.directoryentrypicture {
    margin: 2px 50px 2px 0;
}

.name {
    margin: 0 50px 0 0;
    font-size: 2em;
    font-family: 'CircularStd-Bold';
}



