.CommunityPageDiv {
    font-family: 'CircularStd-Medium';
    min-height: 100vh;
    /* border: 1px red solid; */
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr auto;
    grid-template-areas: "communitypagenavdiv"
                         "directorycontent";
                         
  }


/* CommunityPage.jsx ------------------------------------------------------------------------- */

.CommunityPageNavDiv {
    grid-area: communitypagenavdiv;
    /* border: 1px red solid; */
    background-color: black;
    height: 60px; 
}

.CommunityPageText {
    font-size: 3em;
    margin: 20px 0 10px 30px;
    /* border: 1px red solid; */
    /* vertical-align: top; */
}
.CommunityPageContent {
    grid-area: directorycontent;
    display: flex;
}

.UserDirectory {
    flex: 50%;
    margin: 15px 0 10px 40px;
    max-width: 50%;
    min-width: 500px;
    /* border: 1px red solid; */
    vertical-align: top;
    
}
.rightBar {
    max-width: 40%;
}

.GivePropsForm {
    font-family: 'CircularStd-Medium';
    /* min-height: 100vh; */
    /* border: 1px red solid; */
    border-radius: 50px;
    margin: 50px auto;
    padding: 1em 2em 2em 2em;
    background-color: rgb(34, 34, 34);
    color: white;
    box-shadow: 20px 20px rgb(1, 121, 144);
}
.GivePropsAvatar {
    width: 60px;
    height: 60px;
    border-radius: 50%
}
.GivePropsTextArea {
    width: 90%;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

/* DirectoryEntry.jsx ------------------------------------------------------------------------- */

.DirectoryEntry {
    margin: 0 0 20px 0;
    /* border: solid 1px blue; */
}

.directoryprofilebutton, .directoryentrypicture, .name, .department, .directorypropsbutton {
    vertical-align: middle;
}

.directoryprofilebutton, .directorypropsbutton {
    width: 110px;
    height: 40px;
    border-radius: 12px;
    font-family: 'CircularStd-Bold';
    font-size: 1em;
    color: white;
}

.directoryprofilebutton {
    margin: 2px 50px 2px 30px;
    border-color: rgb(1, 121, 144);
    background-color:  rgb(1, 121, 144);
}

.directorypropsbutton {
    margin: 2px 50px 2px 0;
    border-color: rgb(228, 26, 35);
    background-color:  rgb(228, 26, 35);
}


.directoryentrypicture {
    margin: 2px 50px 2px 0;
}

.name {
    margin: 0 50px 0 0;
    font-size: 2em;
    font-family: 'CircularStd-Bold';
}



