.homebox {
    font-family: 'CircularStd-Medium';
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .1fr .25fr auto;
    grid-template-areas: "homepagenav homepagenav"
                         "propsfeed profileshort"
                         "propsfeed propsshort";
  }

/* HomePage.jsx ------------------------------------------------------------------------- */

.HomePageNavDiv {
    grid-area: homepagenav;
    /* border: 1px red solid; */
    background-color: black;
    height: 60px;
}

.homebox-left {
    grid-area: propsfeed;
    border: 2px rgb(228, 26, 35) solid;
    border-radius: 50px;
    margin: 20px 20px;
    width: 650px;
    color: black;
    vertical-align: top;
    position: relative;
    max-height: 650px;
    overflow-y: scroll;
    font-size: .9em;
    
}

.profile-short {
    grid-area: profileshort;
    border: 2px rgb(228, 26, 35) solid;
    border-radius: 50px;
    margin: 20px 20px;
    width: 650px;
    vertical-align: top;
}

.props-short {
    grid-area: propsshort;
    border: 2px rgb(228, 26, 35) solid;
    border-radius: 50px;
    margin: 40px 20px;
    width: 650px;
    vertical-align: top; 
    max-height: 270px;
    overflow-y: scroll; 
}


/* PropsAppBar.jsx ------------------------------------------------------------------------- */

.NavButton {
    margin: 10px 20px 0px 10px;
    width: 130px;
    height: 40px;
    border-radius: 12px;
    border-color: black;
    background-color:  black;
    font-family: 'CircularStd-Bold';
    font-size: 1em;
    color: white;
   
}

.NavButton:hover {
    border-color: rgba(255, 255, 255, 1);
    background-color: rgb(34, 34, 34);
}

.NavButton:focus {
    outline: none;
}

.NavButton1 {
    margin: 10px 20px 0px 210px;
}

.GaLogo1 {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0;
    width: 8%;
    height: 5%;
    /* border: 1px red solid; */
    
  }

/* PropsFeed.jsx ------------------------------------------------------------------------- */

.PropsFeedText {
    font-family: 'CircularStd-Bold';
    font-size: 3em;
    margin: 30px 0 0 0;
    text-align: center;
    
}

.PropsFeedButtonDiv {
    position: absolute fixed;
    bottom:   20px;
    margin: 15px;

}

.PropsFeedButton1, .PropsFeedButton2 {
    margin: 10px 20px 0px 20px;
    width: 160px;
    height: 40px;
    border-radius: 12px;
    border-color: rgb(228, 26, 35);
    background-color:  rgb(228, 26, 35);
    font-family: 'CircularStd-Bold';
    font-size: 1em;
    color: white;
}



.PropsFeedButton1 {
    margin: 10px 20px 0px 100px;
    
}

/* UserProfile.jsx ------------------------------------------------------------------------- */


.ProfilePicBox {
    display: inline-block;
    margin: 10px 10px 40px 30px;
    padding: 30px;
    text-align: center;
    /* border: 1px blue solid; */
}

.ProfileNameText {
    font-size: 2em;
    margin: 10px 0px;
   
}

.ProfileDetailsBox {
    display: inline-block;
    vertical-align: top;
    margin: 80px 10px 0 0;
    /* border: 1px blue solid; */
    padding: 10px 10px 10px 0;
    font-family: 'CircularStd-Bold';
    
}


/* MyPropsShort.jsx ------------------------------------------------------------------------- */

.MyProps * {
    box-sizing: border-box;
}
.MyPropsTextBox {
    margin: 10px 10px 40px 30px;
    padding: 5px;
}

.MyPropsText {
    font-size: 2em;
}

.MyProps .singleProps {
    display: grid;
    text-align: left;
    grid-auto-flow: column;
    border: .5px solid rgb(68, 68, 68);
    border-radius:30px 30px 30px 30px ;
    padding: .5em;
    margin-bottom: 1em; 
}
.MyProps .singleProps > * {
    height: 40px;
}

.MyProps .singleProps .body {
    display: flex;
    align-items: center;

}

.MyProps .singleProps.incoming {
    justify-content: start;
}
.MyProps .singleProps.incoming > * {
    padding: 0 1em;
}

.MyProps .singleProps.outgoing {
    justify-content: end;
}
.MyProps .singleProps.outgoing > * {
    padding: 0 1em;
}

.MyProps .singleProps 
.MyProps .singleProps > * {
    margin: .5em;
}


