.profile-box {
    font-family: 'CircularStd-Medium';
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .1fr .5fr auto;
    grid-template-areas: "profilepagenavdiv profilepagenavdiv"
                         "profilepageuserprofile profilepageprofilelong"
                         "profilepagemypropsshort profilepagemypropsshort";
  }

/* ProfilePage.jsx ------------------------------------------------------------------------- */

.ProfilePageNavDiv {
    grid-area: profilepagenavdiv;
    /* border: 1px red solid; */
    background-color: black;
    height: 60px;
}


.ProfilePageUserProfile {
    grid-area: profilepageuserprofile;
    border: 2px red solid;
    border-radius: 50px;
    margin: 20px 20px 20px 20px;
    
}

.ProfilePageProfileLong {
    grid-area: profilepageprofilelong;
    border: 2px red solid;
    border-radius: 50px;
    margin: 20px 20px 20px 20px;
    padding: 2em;
}

.ProfilePageMyPropsShort {
    grid-area: profilepagemypropsshort;
    border: 2px red solid;
    border-radius: 50px;
    margin: 10px 20px 20px 20px;
    max-height: 270px;
    overflow-y: scroll; 
}

/* PropsAppBar.jsx ------------------------------------------------------------------------- */

