.profile-box {
    font-family: 'CircularStd-Medium';
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .3fr .7fr;
    grid-template-areas: "profilepagenavdiv profilepagenavdiv"
                         "profilepageuserprofile profilepageprofilelong";
  }

/* ProfilePage.jsx ------------------------------------------------------------------------- */

.ProfilePageNavDiv {
    grid-area: profilepagenavdiv;
    border: 1px red solid;
}

.ProfilePageUserProfile {
    grid-area: profilepageuserprofile;
    border: 1px red solid;
}

.ProfilePageProfileLong {
    grid-area: profilepageprofilelong;
    border: 1px red solid;
}

/* PropsAppBar.jsx ------------------------------------------------------------------------- */

